#favicon {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

header {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header .nav-links a {
    transition: color 0.3s ease;
}

header .nav-links a:hover {
    color: #4E89B4;
}

/* Positioning the icons on the top right corner */
.relative {
    position: relative;
}

button svg {
    width: 24px;
    height: 24px;
}

button:hover {
    cursor: pointer;
}

/* Styling for the buttons to make them look cleaner */
button.edit-game-btn, button.remove-game-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}


.hidden {
    display: none !important;
}

.perspective {
    perspective: 1000px;
}

.backface-hidden {
    backface-visibility: hidden;
}

.group-hover\:rotate-y-180:hover .rotate-y-180 {
    transform: rotateY(180deg);
}

.game-item {
    transform-style: preserve-3d;
}

.game-item .backface-hidden {
    backface-visibility: hidden;
}

.game-item .rotate-180 {
    transform: rotateY(180deg);
}

#notification {
    transition: opacity 0.5s ease-in-out;
}
